# Jupyter & notebooks
.ipynb_checkpoints
.DS_Store

# Project data files
data/
*.csv
*.parquet
*.html
*.pkl
*.db
*.bin

# Python virtual environments
.venv
venv
__pycache__

# IDE settings
.idea

# MLflow & model artifacts
mlruns/
mlartifacts/
models/
**/models/
**/artifacts/

# Terraform
**.terraform/
**.terraform.lock*
**terraform.tfstate*

# Env files
**.env
